$pageWidth: 720px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$desktopBreakpoint: 1200px;
$sidePanelWidth: 320px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

// Define breakpoints
$breakpoints: (
  mobile: $mobileBreakpoint,
  tablet: $tabletBreakpoint,
  desktop: $desktopBreakpoint
);

$mobileGrid: (
  templateRows: "auto auto auto auto auto",
  templateColumns: "auto",
  rowGap: "4px",
  columnGap: "4px",
  templateAreas:
    '"grid-sidebar-left"\
      "grid-header"\
      "grid-center"\
      "grid-sidebar-right"\
      "grid-footer"',
);
$tabletGrid: (
  templateRows: "auto auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto",
  rowGap: "8px",
  columnGap: "8px",
  templateAreas:
    '"grid-sidebar-left grid-header"\
      "grid-sidebar-left grid-center"\
      "grid-sidebar-left grid-sidebar-right"\
      "grid-sidebar-left grid-footer"',
);
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto #{$sidePanelWidth}",
  rowGap: "8px",
  columnGap: "24px",
  templateAreas:
    '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);

$mobile: "max-width: #{$mobileBreakpoint}";
$tablet: "max-width: #{$tabletBreakpoint}";
$desktop: "min-width: #{$desktopBreakpoint}";
