$pageWidth: 640px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$desktopBreakpoint: 1024px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

// Define breakpoints
$breakpoints: (
  mobile: $mobileBreakpoint,
  tablet: $tabletBreakpoint,
  desktop: $desktopBreakpoint
);

$mobileGrid: (
  templateRows: "auto auto auto auto auto",
  templateColumns: "auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"sidebar-left"\
      "page-header"\
      "page-center"\
      "sidebar-right"\
      "page-footer"',
);
$tabletGrid: (
  templateRows: "auto auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"sidebar-left page-header"\
      "sidebar-left page-center"\
      "sidebar-left sidebar-right"\
      "sidebar-left page-footer"',
);
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto #{$sidePanelWidth}",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"sidebar-left page-header sidebar-right"\
      "sidebar-left page-center sidebar-right"\
      "sidebar-left page-footer sidebar-right"',
);

$mobile: "max-width: #{$mobileBreakpoint}";
$tablet: "max-width: #{$tabletBreakpoint}";
$desktop: "min-width: #{$desktopBreakpoint}";
